* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.nav {
  background-color: rgb(83, 86, 87);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
}

.form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width: 40%;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}
.form input {
  padding: 10px 50px;
  margin: 0.5rem;
  width: 80%;
  border: none;
  border-bottom: 2px solid black;
}
.form input:focus {
  border: none;
  outline: none;
}
.form button {
  padding: 10px 65px;
  margin: 1rem;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  background-color: lightcoral;
  color: white;
}
